/* Estilos para Flexbox*/

.flexbox body {
  background-color: rgb(240, 240, 240);
}

.flexbox #contenedor {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.flexbox .tarjeta {
  background-color: rgb(217, 190, 110);
  width: 150px;
  padding: 20px;
  border: 3px solid rgb(38, 196, 23);
  text-align: center;
}

.flexbox .resaltada {
  background-color: rgb(255, 8, 70);
  border: 3px solid rgb(0, 0, 0);
  color: white;
}

.flexbox #btn,
.flexbox #btn2 {
  background-color: aliceblue;
  margin: 20px auto;
  padding: 10px 20px;
  font-size: 16px;
}

.flexbox a {
  color: black;
}

/*Estilos para Personas */

body.personas {
  background-color: rgb(236, 236, 236);
}
.personas table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
}

.personas th,
.personas td {
  padding: 8px;
}

.personas #btn,
.personas #btn2 {
  margin: 10px auto;
  gap: 10px;
  flex: none;
  padding: 7px;
  background-color: rgb(235, 73, 36);
  color: white;
}

.personas th {
  color: white;
  background-color: rgb(235, 73, 36);
}

.personas a {
  color: black;
}

/*Estilos para React */

body.react {
  background-color: rgb(228, 228, 254);
}
.react main {
  background-color: rgb(71, 202, 90);
  border: 2px solid black;
}

.react #btn,
.react #btn2 {
  margin: 7px;
  color: rgb(0, 0, 0);
  background-color: white;
  border: 1px solid rgb(0, 0, 0);
}

.react th,
.react td {
  background-color: white;
}

.react a {
  color: black;
}

/*Estilos para Index */
.index h1 {
  text-align: center;
}

.index h2 {
  margin: 4px;
  gap: 15px;
}
.index header {
  background-color: rgb(128, 175, 241);
  border: 2px solid black;
}

.index a {
  color: black;
}
